@tailwind base;
@tailwind components;
@tailwind utilities;


.fade {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  img:not(.fade) {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  